
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: #F0BAC7;
  font-family: 'Raleway', sans-serif;
  color: white;
}

section {
  text-align: center;
  height: 100vh;
  float: right;
  width: 83%;
}

/*vertical nav bar*/

nav {
  position: fixed;
  width: 17vw;
  height: 100vh;
  background-color: #F0BAC7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  float: left;
}

nav a {
  color: white; 
  display: flex; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 2.5vw;
}

nav a:hover {
  color: maroon;
}

nav a.active {
  background-color: hotpink; /* Add a green color to the "active/current" link */
  color: white;
}

/*home page styling*/

#alyssayelle {
  font-size: 5rem;
  text-shadow: maroon 0px 0px 1px;
/*  padding-top: 5%;*/
}

#home-heading {
  font-size: 3rem;
  text-shadow: maroon 0px 0px 1px;
}


.alyzz {
  	height:100vh;
  	background-image: url("assets/portfolio4.jpg");
 	  background-size:cover;
  	background-position:center bottom;
  	display: flex;
	 flex-direction: column;
	 justify-content: space-around;

}


.desc {

	padding: 5% 3%;
}


/*blog post and project links page styling*/

.blog-project {
  background-image: url("assets/portfolio5.png");
  background-size:cover;
  background-position:center bottom;

}

.list {
  text-align: left;
  margin-left: 3%;
  margin-right: 10%;
}


article {
  text-align: left;
  margin-left: 5%;
  margin-right: 10%;
  color: black;
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}


.blog-project a {
    text-decoration: none;
    color: maroon;
}
.blog-project a:hover {
    text-decoration: underline;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} 


/*post styling*/

.blog h2 {
  color: maroon;
  text-shadow: none;
}

.blog a {
    text-decoration: none;
    color: maroon;
}
.blog a:hover {
    text-decoration: underline;
}



