---
layout: default
title: Projects
---
<section class='blog-project'>
	<div class='list'>
		<h2>{{ page.title }}</h2>
		<p>A selection of some of my projects</p>
		<ul class="projs">

	  	{% for proj in site.projs %}
	  		<p>proj here</p>
	    	<li><a href="{{ proj.url }}" title="{{ proj.title }}">{{ proj.title }}</a></li>
	  	{% endfor %}
		</ul>
	</div>
</section>

<!-- 
<section class='blog-project'>
	<div class='list'>
		<h2>{{ page.title }}</h2>
		<p>test 2</p>
		<ul class="posts">

	  	{% for post in site.projs %}
	    	<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  	{% endfor %}
		</ul>
	</div>
</section> -->